Store the superheroes
List the superheroes
Search the superheroes
    - name
    - ID
Create new superhero
Delete/Edit superhero
Present the information nicely

Superhero class 
Attributes:
ID
name: String 
alias: String
height: Integer
superpowers: []

Write business rules for the other Attributes
write search rules to search a string

save number of instances
redo ID
Add in test cases 

gem install rspec
gem install prompt

features
shebang
search
Create

